* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  /* background: #f4f6f8; */
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik';
}

.container {
  width: 80%;
  position: absolute;
  top: 50px;
  background: #fff;
}


h2 {
  text-align: center;
  margin-bottom: 50px;
}

.container>div {
  display: flex;
  gap: 26px;
  justify-content: space-between;
  align-items: center;
}

.langbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.langbox > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}

.langbox > div > i{
  font-size: 16px;
  position: absolute;
  right: 10px;
 }

.langbox > div > select {
  padding: 10px 14px;
  width: 100%;
  border: 1px solid #f7f7f7;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: #f7f7f7;
  color: rgb(60, 64, 67);
}

select {
  appearance: none;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 30px 20px;
  font-size: 22px;
  font-weight: 600;
  border-color: #bebebe;
  color: rgb(60, 64, 67);
  border-radius: 7px;
  background: #fff;
  outline: none;
}


textarea:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button {
  width: 60px;
  height: 50px;
  border-radius: 100px;
  padding: 10px 26px;
  background: #007bff;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 50%;
  top: 60%;
  transform: translateX(-50%);
}

button:hover {
  background: #0056b3;
}

@media screen and (max-width: 760px) {

  .container {
    width: 100%;
    top: 20px;
     padding-inline: 32px;
    height: initial;
  }

  .container>div {
    flex-direction: column;
    width: 100%;
    gap: 0;
     height: initial;
  }


  .langbox {
    width: 100%;
  }

  button {
  width: 50px;
  height: 100px;
  border-radius: 100px;
  padding: 20px 30px;
  background: #007bff;
  transform: rotate(90deg);
  position: initial;

}

  

}



/* .output {
  margin-top: 15px;
}

#outputText {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 4px;

} */
